:root {
	--color-primary: rgba(158, 138, 95, 0.5);
	--color-primary-2: rgba(192, 185, 160, 1);
	--color-accent: #647c42;
	--color-neutral: #2e250b;

	--color-accent-warm: rgba(171, 176, 142, 1);
	--color-accent-warm-lighter: rgba(192, 185, 160, 1);
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
	color: var(--color-neutral);
	padding: 0 2rem;
}

a {
	color: var(--color-accent);
}

#root {
	width: 100%;
	height: 100%;
	margin: 0;
}
